<div class="header">
    <div class="header_white_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="header_information">
                        <ul>
                            <li>
                                <img src="images/1.png" alt="#"/> Transylvania, Romania
                            </li>
                            <li>
                                <img src="images/2.png" alt="#"/> +46 (0)8 68 45 5678
                            </li>
                            <li>
                                <img src="images/3.png" alt="#"/> info@transylvania.se
                            </li>
                            <li>
                                <a href="https://transylvania.se/" target="_blank" rel="noopener noreferrer"><img src="images/flag-se.png" alt="#"/>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
